<section class="signup__formSec">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div class="signup__formcontent">
					{{ content.body.0 }}
				</div>
			</div>
			{{ signupform }}			
		</div>
	</div>
</section> 
<section class="signup__Secsecond">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="signup__Secsecondinner">
					<div class="signup__Secsecondcontent">
						<div class="signup__SecsecondLight">{{ content.field_signup_cardimage.0 }}</div>
						<div class="signup__SecsecondLeft">
							<h4>{{ content.field_signup_headtitle.0 }}</h4>
							<a href="javascript:;" class="btn payretail__btn" data-cardurl="/sites/default/files/2018-01/ABILIFY-aripiprazole-Savings-Card-Program.pdf" title="Print Your Card" id="printcard">{{ content.field_signup_subtitle.0 }}</a>
						</div>
					</div>
					{{ content.field_signup_extradata.0 }}
				</div>
			</div>
		</div>
	</div>
</section>

